//Screen
$large: 1200px;
$medium: 940px;
$small: 700px;
$x-small: 480px;

//Colors
$colorBackground: #282c34;
$colorAccent: #0099ff;
$colorWhite: #eeeeee;
$colorGray: #a0a0a0;
$colorDarkGray: #4d4d4d;
$colorBlack: #1d1d1d;


//Sizes
$headerHeight: 70px;
$logoWidth: 70px;
$footerHeight: 50px;
$smRadius: 2px;
$mdRadius: 4px;



